GROQ_API_KEY=
GROQ_MODEL=
APP_ENV=development
LOG_LEVEL=INFO
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="resume-analyser"
SERPAPI_API_KEY=

