GROQ_API_KEY=
TAVILY_API_KEY=
LLM_MODEL="meta-llama/llama-4-scout-17b-16e-instruct"
LLM_TEMPERATURE=0.2
PORT=8000
HOST=0.0.0.0
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="testing-learing-path-generatior"

